{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'images/investor_favicon.jpg' %}" type="image/icon type">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ინვესტორი/კონფედენციალურობა</title>
</head>
<body  style="background-color: #212529"> 

<div>
<pre>
<center>
    <div style="font-size:20px;color:white;">
<h1>კონფიდენციალურობის პოლიტიკა</h1>
<img src="{% static 'images/investor_logo.jpg' %}" width="300px" style="margin-bottom:20px;">
კონფიდენციალურობის პოლიტიკის მოცემული დოკუმენტი არეგულირებს მედიის 
განვითარების ფონდისათვის (investor.ge) მომხმარებლების მიერ ორგანიზაციის
ვებსაიტის investor.ge გამოყენებისას მიწოდებული ინფორმაციის შეგროვებასა და გამოყენებას,
აგრეთვე იმ ინფორმაციას, რომელიც მომხარებლის მხრიდან მიწოდებულია investor.ge -სთვის
ისეთი საკომუნიკაციო არხებით, როგორებიცაა ელ. ფოსტა, ტელეფონი, სოციალური მედიის არხები,
ონლაინ/ოფლაინ ღონისძიებები და ტრენინგები.
investor.ge -ის კონფიდენციალურობის პოლიტიკასთან და შეგროვებულ მონაცემებთან
დაკავშირებით არსებული კითხვების შემთხვევაში, დაგვიკავშირდით: investorbatumi@gmail.com.
investor.ge -ის მიერ შეგროვებული ინფორმაციის ტიპოლოგია
    პიროვნების მაიდენტიფიცირებელი ის ინფორმაცია (მაგ. სახელი, ელ.ფოსტის მისამართი,
    ტელეფონის ნომერი, სოციალური მედიის პროფილის ბმული, დაბადების თარიღი),
    რომელსაც მომხმარებლები საკუთარი ნებით აწვდიან ორგანიზაციას ონლაინ დისკუსიის,
    საიტის გამოყენების, რეგისტრაციის, ან საინფორმაციო ბიულეტენის გამოწერის,
    გამოკითხვაში მონაწილეობის, investor.ge – ის ღონისძიებებზე დასწრების (ონლაინ რეჟიმში ან ადგილზე)
    პრეზენტაციებს, ტრენინგებისს ან სხვა საგანმანათლებლო ღონისძიებზე დასწრების დროს.
    პიროვნების არამაიდენტიფიცირებელი ის ინფორმაცია, რომელიც გროვდება მომხმარებლების
    investor.ge -ის საიტებზე ნავიგაციის შედეგად. ასეთია, საიტის გამოყენების
    შაბლონები და პარამეტრები (IP მისამართი, გამოყენებული ინტერნეტ ბრაუზერი,
    მონახულებული გვერდები, ვებსაიტზე გატარებული დრო).

investor.ge უზრუნველყოფს შეგროვებული ინფორმაციის კონფიდენციალურობას, არ ყიდის სახელებს,
ელ.ფოსტის მისამართებს ან სხვა პირად ინფორმაციას, რომელსაც მომხმარებლები
ნებაყოფლობით აწვდიან investor.ge -ს მესამე პირზე.
როგორ იყენებს investor.ge შეგროვებულ ინფორმაციას:
	investor.ge -ის ვებსაიტებისა და სოციალური მედიის არხების უზრუნველყოფა, ფუნქციონირება.
	investor.ge -ის ვებსაიტებისა და სოციალური მედიის არხების გაუმჯობესება, პერსონალიზაცია და გაფართოება.
	investor.ge -ის ვებსაიტებისა და სოციალური მედიის არხების მოხმარების ანალიზი.
	მომხმარებლებთან დაკავშირება, განახლებებისა და ორგანიზაციასთან დაკავშირებული
    სხვა ინფორმაციის მიწოდება მარკეტინგული და სარეკლამო მიზნებისთვის.
	მომხმარებლებისათვის წერილებისა და ნიუსლეთერების გაგზავნა.
	საგანმანათლებლო ღონისძიებებისა და ტრენინგების შემდეგ შესრულების ძირითადი მაჩვენებლების შეფასება.

ღონისძიებები: investor.ge -ის ღონისძიებებზე დასწრებისას
(ოფლაინ ან ონლაინ) დამსწრეებს ვთხოვთ, შეავსონ სარეგისტრაციო ფორმები,
რომლებიც შედგება სახელის, ასაკის, ელ.ფოსტისა და ტელეფონისგან.
ღონისძიებების დასწრების სიის შევსება არ არის სავალდებულო
და გამოიყენება მხოლოდ ძირითადი შედეგის შესაფასებლად.
investor.ge მოცემულ სარეგისტრაციო სიას უზიარებს მხოლოდ
და მხოლოდ პროექტის იმ დონორს, რომლის ფარგლებშიც ტარდება ღონისძიება.
კონკურსები: investor.ge –მა შესაძლოა მომხმარებლებს მის საიტებზე და/ან
 სოციალურ მედიაში შესთავაზოს გათამაშებები, კონკურსები
(მაგ. ყველაზე წარმატებული ახალგაზრდა, ყველაზე წარმატებული ორგანიზაცია) და სხვა აქციები.
ამ კონკურსებში მონაწილეობისას მომხმარებელს ხშირად სთხოვენ მიაწოდოს ინფორმაცია საკუთარი თავის შესახებ
(სახელი, ელ.ფოსტის მისამართი, ტელეფონის ნომერი, სოციალური მედიის პროფილის ბმული),
რათა ორგანიზაციამ შეძლოს მათთან დაკავშირება გამარჯვების შემთხვევაში.
ამ ინფორმაციის გაზიარება შესაძლებელია მხოლოდ კონკურსის პარტნიორთან/თანასპონსორთან.
სოც.მედია კომენტარები და ჩატები, ფოტოები, ვიდეოები და მომხმარებლის მიერ შექმნილი სხვა კონტენტი:
თუ მომხმარებელი ჩაერთვება investor.ge სოციალური მედიის პოსტებში კომენტარით, ეს კომენტარი საჯარო იქნება,
შესაბამისად, თუ მომხმარებლის კომენტარი შეიცავს ნებისმიერი სახის პირად ინფორმაციას, ფოტოს,
ვიდეოს ან სხვა ვიზუალურ მასალას, ეს ინფორმაციაც აგრეთვე გახდება საჯარო.
მედიის განვითრების ფონდი არ არედაქტირებს მომხმარებლის მიერ შექმნილი სხვა კონტენტს,
და არ შლის მათ თუ არ შეიცავს სიძულვილის ენას, ძალადობას, სენსიტიურ ან საზიანო კონტენტს.
Cookies: ვებსაიტები, რომლებსაც investor.ge ფლობს და მართავს არ იყენებენ cookies-ებს.
სხვა ვებსაიტებიდან ჩაშებენული კონტენტი: MDF-ის საიტებზე გამოქვეყნებული სტატიები შეიძლება შეიცავდეს
ჩაშენებულ კონტენტს (მაგ. ვიდეო, სურათები, სტატიები და ა.შ.).
სხვა ვებსაიტებიდან ჩაშენებულ კონტენტთან მომხმარებლის ინტერაქცია
ექვემდებარება იმ საიტის კონფიდენციალურობის პოლიტიკას, საიდანაც კონკტენტი არის გადმოღებული.
ამ ვებგვერდებმა შეიძლება შეაგროვონ მონაცემები მომხმარებლის შესახებ,
გამოიყენონ ქუქი-ფაილები და მონიტორინგი გაუწიონ ინტერაქციას,
მათ შორის მომხმარებლის ინტერაქციას ჩაშენებულ კონტენტთან, თუ მას აქვს ანგარიში და შესულია ამ ვებგვერდზე.
მომხმარებლების უფლებები საკუთარი მონაცემებზე: მომხმარებელს შეუძლია მოითხოვოს,
რომ investor.ge -მა წაშალოს ნებისმიერი პერსონალური მონაცემი,
რაც მასზე აქვს შეგროვებული. ეს არ ეხება იმ მონაცემებს, რომლებიც investor.ge -ი ვალდებულია
რომ შეინახოს ადმინისტრაციული, სამართლებრივი ან უსაფრთხოების მიზნით.
</div>
</center>
</pre>
</div>


    
</body>
</html>