.local {
    width: 500px;
    height: 500px;
    background-color: #223344;
   
    right: 510px;
    z-index: 1;
}

.remote {
    width: 500px;
    height: 500px;
    background-color: #384552;
    margin-left: 500px;
}

.fa,
.fas {
    font-size: 32px;
    padding: 10px 150px;
}

.full {
    font-size: 24px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.roomMessage {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: burlywood;
    justify-content: center;
}
.video_chat{
    margin-left:-160px;
}