{% load static %}

<style>
  .dropdown-item{
  font-size: 15px;
  }
  .navbar{
    width:300px;
  }
</style>

<header  id="page-topbar">

    <nav class="navbar navbar-expand-lg bg-dark" >
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'admin_login_process' %}">INVESTOR</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            
            <form>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ request.user.username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      
                      <li><a class="dropdown-item" href="{% url 'create_category' %}">კატეგორიების დამატება</a></li>
                      <li><a class="dropdown-item" href="{% url 'create_subcategory' %}">ქვეკატეგორიების დამატება</a></li>
                      <li><a class="dropdown-item" href="{% url 'product_create' %}">პროდუქტის დამატება</a></li>
                      <li><hr class="dropdown-divider"></li>

                      <li><a class="dropdown-item" href="{% url 'customers' %}">SV-ების ნახვა</a></li>

                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'admin_logout_process' %}">გასვლა</a></li>
                    </ul>
                  
                  
            </form>
          </div>
        </div>
      </nav>
      
</header>

