{% load static %}

<div class="vertical-menu" >

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <!-- <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                       
                        <span key="t-dashboards">Categories</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="{% url 'category_list' %}" key="t-default">all category</a></li>
                        <li><a href="{% url 'category_create' %}" key="t-default">add category</a></li>

                    </ul>
                </li> -->

                

              

        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->