{% extends "main/base.html" %}
{% block content %}

            <!-- Contact page content -->
            <div class="contact-page-area">

                <!-- contact form area -->
                <div class="contact-form-area">
                    <div class="container-fluid">
                        <div class="row">
                            
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                                <div class="contact-address-area">
                                    <h2>დაგვიკავშირდით</h2>
                                    <p></p>
                                    <ul>
                                        <li>
                                            მისამართი: ქალაქი ბათუმი, ვახტანგ გორგასლის N125</li>
                                        <li>
                                           იმეილი: investorbatumi@gmail.com</li>
                                        <li>
                                          მობილურის ნომერი:  &nbsp;(+995) 551 51 53 35</li>
                                    </ul>
                                    <h3>
                                        <strong>სამუშაო საათები</strong>
                                    </h3>
                                    <p>
                                        <strong>ორშაბათიდან – პარასკების ჩათვლით</strong>: &nbsp;11:00 – 18:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- contact form area end -->
            </div>
            
        {% endblock content %}

