
      {% extends "main/base.html"%}  
      {% load static %}

      {%block sidebar%}
      {% block css %}
      <!-- <link rel="stylesheet" href="{% static 'css2/carusel.css' %}">  -->

        {% endblock css %}
        <style>
            



#drag-container, #spin-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-10deg);
          transform: rotateX(-10deg);
}

#drag-container img, #drag-container video {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 200px;
  font-size: 50px;
  text-align: center;
  -webkit-box-shadow: 0 0 8px #fff;
          box-shadow: 0 0 8px #fff;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}

#drag-container img:hover, #drag-container video:hover {
  -webkit-box-shadow: 0 0 15px #fffd;
          box-shadow: 0 0 15px #fffd;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}

#drag-container p {
  font-family: Serif;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotateX(90deg);
          transform: translate(-50%,-50%) rotateX(90deg);
  color: #fff;
}

#ground {
  width: 900px;
  height: 900px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotateX(90deg);
          transform: translate(-50%,-50%) rotateX(90deg);
  background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
}

#music-container {
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes spin {
  from{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  } to{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes spin {
  from{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  } to{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@-webkit-keyframes spinRevert {
  from{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  } to{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@keyframes spinRevert {
  from{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  } to{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
.full_logo{
    transform: translateX(-300px)
}
@media (max-width:700px){
        .full_logo {
            margin-left:350px;
            width:400px;
        }
        .logo_txt{
            margin-left:-20px;
            transform: translateY(-150px)
        }
        .categori-menu-list{
            margin-left:200px;
        }
        .logo_head{
            margin-left:20px;
        }
        

    }
    @media (max-width:500px){
        .full_logo {
            margin-left:300px;
            width:300px;
        }
        .logo_txt{
            margin-left:20px;
            transform: translateY(-150px)
        }
       
        

    }
    .servisisferi{
        color:white;
    }
        </style>
         <script>
            $(document).ready(function(){
                $('.categori-menu-list').hide();
                $('.logo_head').hover(function(){
                $('.categori-menu-list').show();
                $('.categori-menu-list').mouseleave(function(){
                $(this).hide();
           
            });
                });
          });
         
          </script>


      <nav >
                              
                                 
        <ul class="categori-menu-list menu-hidden" style="background-color:#1F2025;color:white;border-radius: 5%;">
          <li ><a style="background-color:#1F2025;color:white" href="#" ><b>HR</b></a>
              <!-- categori Mega-Menu Start -->
              <ul style="background-color:#1F2025;color:white;border-radius: 5%;" id="{{cat.id}}" class="ht-dropdown megamenu first-megamenu">
                  <!-- Single Column Start -->
                  <li class="single-megamenu" style="background-color:#1F2025;color:white">
                      <ul >
                          <li><a style="background-color:#1F2025;color:white" href="{% url 'registration' %}">თუ ეძებთ სამუშაოს, გამოგვიგზავნეთ თქვენი მონაცემები</a></li>
                      </ul>
                  </li>
                  <!-- Single Column End -->
                  
                
                  
              </ul>
              <!-- categori Mega-Menu End -->
          </li>
            {% for catt in Categories.all %}
            <li><a style="background-color:#1F2025;color:white" href="{% url 'product_category' catt.id %}">{{ catt.name }}</a>

                <!-- categori Mega-Menu Start -->
                <ul style="background-color:#1F2025;color:white;border-radius: 5%;" id="{{catt.pk}}" class="ht-dropdown megamenu first-megamenu">
                    <!-- Single Column Start -->
                    <li class="single-megamenu" style="background-color:#1F2025;color:white">
                        <ul>
                            {% for subcat in catt.sub_category_set.all %}
                            <li><a style="background-color:#1F2025;color:white" href="{% url 'product_category' subcat.pk %}">{{ subcat.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <!-- Single Column End -->
                    
                  
                    
                </ul>
                <!-- categori Mega-Menu End -->
            </li>

            {% endfor %}
            </ul>
            
    </nav>
      {% endblock sidebar %}
        
{% block content %}
{% load static %}


        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <!-- Body main wrapper start -->
        <div class="wrapper home-one"  style="background-color:#1F2025">

            <!-- HRADER AREA END -->
            <!-- Slider area -->
            <div class="slider-area">
                <div class="container">
                    <div class="row">
                        <div class="slider-hidden col-lg-3 col-sm-3">
                            
                        </div>
                        <div class="slider col-xl-9">
						
							<!-- slider-area start -->
							<div class="slider-area-inner">
								<!-- slider start -->
								<div class="">
                                    <div class="full_logo">
										<!-- <img src="{% static 'images2/slider/investor4.jpg' %}"   alt="main slider" title="#htmlcaption1"/> -->
                                    <img src="{% static 'images2/logo/investor-without-txt.png'  %}"style="margin-bottom:150px;width:300px;" class="logo_head"  alt="main slider" title="#htmlcaption1"/>
                                    <img src="{% static 'images2/logo/investor-txt.png'  %}"style="margin-bottom:150px;width:670px;" class="logo_txt"  alt="main slider" title="INVESTOR"/>
                                </div>
									<div id="htmlcaption1" class="nivo-html-caption slider-caption">
										<div class="slider-progress"></div>
										<div class="col-md-9">
											<div class="slider-content slider-content-1 slider-animated-1">
												<!-- <h1 class="hone">მოგესალმებით</h1>
												<h1 class="htwo">კომპანია</h1>
												<h1 class="hthree">"ინვესტორი"</h1> -->
												
											</div>
										</div>
									</div>
									<div id="htmlcaption2" class="nivo-html-caption slider-caption">
										<div class="slider-progress"></div>
										<div class="col-md-9">
											<div class="slider-content slider-content-2 slider-animated-2">
												<h1 class="hone">DRONE DIY</h1>
												<h1 class="htwo">WORKSHOP</h1>
												<h3 class="h3one">Build & Fly</h3>
												<h3 class="h3two">Your Own drone!</h3>
												<div class="button-1 hover-btn-1">
													<a href="shop.html">SHOP NOW</a>
												</div>
											</div>
										</div>					
									</div>
								</div>
								<!-- slider end -->
							</div>
							<!-- slider-area end -->
                        </div>

                        <!-- marjvena baneri -->

                        <!-- <div class="slider-banner-area col-sm-12">
                            <div class="slider-banner">
                                <div class="slider-single-banner">
                                    <a href="shop.html">
                                        <img src="{% static 'images2/banner/banner1.png' %}" alt="Banner">
                                    </a>
                                </div>
                            </div>
                            <div class="slider-banner">
                                <div class="slider-single-banner">
                                    <a href="shop.html">
                                        <img src="{% static 'images2/banner/banner2.png' %}" alt="Banner">
                                    </a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- Slider area end -->
            <!-- Policy area -->
            
            <!-- Policy area end -->
            <!-- Deals Of The Day -->
            <!-- aqciaaa -->
            <!-- <div class="deals-of-the-day-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="section-title">
                                <h3>Deals Of The Day</h3>
                            </div>
                        </div>
                    </div>
                    <div class="big-product-area">
                        <div class="row">
                            <div class="product-carousel-active owl-carousel">
                                <div class="col-sm-12">
                                    <div class="single-product-area">
                                        <div class="product-wrapper listview">
                                            <div class="list-col4">
                                                <div class="product-image">
                                                    <a href="#">
                                                        <img src="images/product/big/product4.jpg" alt="">
                                                    </a>
                                                    <div class="quickviewbtn">
                                                        <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-col8">
                                                <div class="product-info">
                                                    <h2><a href="single-product.html">Sit voluptatem</a></h2>
                                                    <span class="price">
                                                        <del>$ 77.00</del> $ 66.00
                                                    </span>
                                                    <div class="product-rattings">
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star-half-o"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus</p>
                                                    </div>
                                                    <div class="deal-counter">
                                                        <div data-countdown="2021/08/02"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="single-product-area">
                                        <div class="product-wrapper listview">
                                            <div class="list-col4">
                                                <div class="product-image">
                                                    <a href="#">
                                                        <span class="onsale">Sale!</span>
                                                        <img src="images/product/big/product5.jpg" alt="">
                                                    </a>
                                                    <div class="quickviewbtn">
                                                        <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"><i class="ion-eye"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-col8">
                                                <div class="product-info">
                                                    <h2><a href="single-product.html">Consequuntur magni</a></h2>
                                                    <span class="price">
                                                        <del>$ 89.00</del> $ 80.00
                                                    </span>
                                                    <div class="product-rattings">
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star-half-o"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus</p>
                                                    </div>
                                                    <div class="deal-counter">
                                                        <div data-countdown="2021/08/02"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="single-product-area">
                                        <div class="product-wrapper listview">
                                            <div class="list-col4">
                                                <div class="product-image">
                                                    <a href="#">
                                                        <img src="images/product/big/product6.jpg" alt="">
                                                    </a>
                                                    <div class="quickviewbtn">
                                                        <a href="#" data-toggle="modal" data-target="#product_modal" data-original-title="Quick View"><i class="ion-eye"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-col8">
                                                <div class="product-info">
                                                    <h2><a href="single-product.html">Epicuri per</a></h2>
                                                    <span class="price">
                                                        <del>$ 68.00</del> $ 62.00
                                                    </span>
                                                    <div class="product-rattings">
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star"></i></span>
                                                        <span><i class="fa fa-star-half-o"></i></span>
                                                        <span><i class="fa fa-star-o"></i></span>
                                                    </div>
                                                    <div class="product-desc">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus</p>
                                                    </div>
                                                    <div class="deal-counter">
                                                        <div data-countdown="2021/08/02"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Deals Of The Day -->
            <!-- Home fullwidth banner -->
            <!-- <div class="home-fullwidth-banner-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="#">
                                <img src="images/banner/home1-banner2.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Home fullwidth banner end -->
           
          <!-- carusel start -->
          <div id="drag-container" style="margin-top:150px;">
            <div id="spin-container">
              <!-- Add your images (or video) here -->
              <img src="{% static 'images2/banner/investor.jpg'  %}" class="companies1"  alt="main slider" title="#htmlcaption1"/>
              <img src="{% static 'images2/banner/investor.jpg'  %}"  class="companies2" alt="main slider" title="#htmlcaption1"/>
              <img src="{% static 'images2/banner/investor.jpg'  %}"  class="companies3" alt="main slider" title="#htmlcaption1"/>
              <img src="{% static 'images2/banner/investor.jpg'  %}"  class="companies4" alt="main slider" title="#htmlcaption1"/>
              <img src="{% static 'images2/banner/investor.jpg'  %}"  class="companies5" alt="main slider" title="#htmlcaption1"/>
              <img src="{% static 'images2/banner/investor.jpg'  %}"  class="companies6" alt="main slider" title="#htmlcaption1"/>
              <img src="{% static 'images2/banner/investor.jpg'  %}"  class="companies7" alt="main slider" title="#htmlcaption1"/>
              <img src="{% static 'images2/banner/investor.jpg'  %}"  class="companies8" alt="main slider" title="#htmlcaption1"/>
              <img src="{% static 'images2/banner/investor.jpg'  %}"  class="companies9" alt="main slider" title="#htmlcaption1"/>
              <img src="{% static 'images2/banner/investor.jpg'  %}"  class="companies10" alt="main slider" title="#htmlcaption1"/>
              <img src="{% static 'images2/banner/investor.jpg'  %}"  class="companies11" alt="main slider" title="#htmlcaption1"/>
              <img src="{% static 'images2/banner/investor.jpg'  %}"  class="companies12" alt="main slider" title="#htmlcaption1"/>
              <img src="{% static 'images2/banner/investor.jpg'  %}"  class="companies13" alt="main slider" title="#htmlcaption1"/>
              <img src="{% static 'images2/banner/investor.jpg'  %}"  class="companies14" alt="main slider" title="#htmlcaption1"/>
              <img src="{% static 'images2/banner/investor.jpg'  %}"  class="companies15" alt="main slider" title="#htmlcaption1"/>

       
              <!-- Text at center of ground -->
              <p></p>
            </div>
            <div id="ground"></div>
          </div>
          
          
          
          
          
          
          
          
          
          
            <!-- carusel end -->

            <!-- Best sellers -->
            <div  class="product-area" style="margin-top:100px;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="section-title">
                            </div>
                        </div>
                    </div>
                    <div class="product-area-inner">
                        <div class="row" >
                                    <!-- single product --> 
                                    
                                    {% for product in products  %}
                                    <div class="col-lg-3" style="background-color:white; margin-top:20px;margin-left:20px;width:300px;">
                                        <div class="product-wrapper gridview">
                                            <a href="{% url 'product' product.id %}">

                                            <div class="list-col4">
                                                <div class="product-image">
                                                        {% if product.photo.url is not None %}
                                                        {% if product.photo.url|slice:"-4:" == ".mp4" %} 
                                                        <video class="video-fluid" controls autoplay muted style="height:200px;width:250px;">
                                                        <source src="{{ product.photo.url }}"  alt="" type="video/mp4">
                                                      </video>
                                                      {% else %}
                                                      <img src="{{ product.photo.url }}" style="height:200px;" alt="">


                                                      {% endif %}
                                                        {% else %}
                                                        <img src="{% static 'images2/slider/investor.jpg' %}"   alt="main slider" title="#htmlcaption1"/>

                                                        {% endif %}

                                                    
                                                    <div class="quickviewbtn">
                                                        <a href="#" data-toggle="modal" data-target="#product_modal"  data-original-title="Quick View"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            ID:{{product.id}}
                                            <div class="list-col8">
                                                
                                                <div class="product-info">
                                                    
                                                    <h2><a href="{% url 'product' product.id %}">
                                                        {% if product.category_id == 2 %}
                                                        {{product.garigebis_tipi}}
                                                        {{ product.brendi }} {{ product.modeli }}
                                                        {% elif product.category_id == 6 %}
                                                        {{product.garigebis_tipi}}
                                                        {{ product.qonebisTipiHouse }}
                                                        {% else %}
                                                        {{ product.satauri }}
                                                        {% endif %}
                                                         {{product.lokacia}}</a>
                                                        </h2>

                                                        <h4 style="margin-bottom: 20px;">მისამართი:{{ product.quchis_saxeli }}</h4>
                                                       
                                                    <span style="margin-bottom:20px;" class="price">
                                                        
                                                    
                                                        
                                                        ${{product.price}}

                                                    </span>
                                                    
                                                   
                                                </div>
                                                <!-- <div class="product-hidden">
                                                    <div class="add-to-cart">
                                                        <a href="{% url 'product' product.id %}">ნახვა</a>
                                                    </div>
                                                    
                                                </div> -->
                                            </div>
                                        </a>
                                        </div>
                                    </div>
                                    
                                    {% empty %}
                                    
                                     <div align="center" style="transform: translateY(-500px);">
                                       <h1 class="servisisferi">სერვისი დროებით მიუწვდომელია... მიმდინარეობს კონკურსი</h1>
                                    </div>
                                    
                                    {% endfor %}
                                    
                                    <!-- single product end -->
                                </div>
                    </div>
                </div>
            </div>
            
            <!-- Best sellers end -->


           
          <!--kompaniebi-->
            <!-- Brand logo area -->
            <!--<div class="brand-logo-area">-->
            <!--    <div class="container">-->
            <!--        <div class="row">-->
            <!--            <div class="col-sm-12">-->
            <!--                <div class="brand-carousel-active owl-carousel">-->
            <!--                    <div class="brand-logo">-->
            <!--                        <a href="#"><img src="{% static 'images2/brand/brand1.jpg' %}" alt="Brand logo"></a>-->
            <!--                    </div>-->

            <!--                    <div class="brand-logo">-->
            <!--                        <a href="#"><img src="{% static 'images2/brand/brand2.jpg' %}" alt="Brand logo"></a>-->
            <!--                    </div>-->
                               
            <!--                    <div class="brand-logo">-->
            <!--                        <a href="#"><img src="{% static 'images2/brand/brand3.jpg' %}" alt="Brand logo"></a>-->
            <!--                    </div>-->
                               
            <!--                    <div class="brand-logo">-->
            <!--                        <a href="#"><img src="{% static 'images2/brand/brand4.jpg' %}" alt="Brand logo"></a>-->
            <!--                    </div>-->
                               
            <!--                    <div class="brand-logo">-->
            <!--                        <a href="#"><img src="{% static 'images2/brand/brand5.jpg' %}" alt="Brand logo"></a>-->
            <!--                    </div>-->
                               
            <!--                    <div class="brand-logo">-->
            <!--                        <a href="#"><img src="{% static 'images2/brand/brand6.jpg' %}" alt="Brand logo"></a>-->
            <!--                    </div>-->
                               
            <!--                    <div class="brand-logo">-->
            <!--                        <a href="#"><img src="{% static 'images2/brand/brand7.jpg' %}" alt="Brand logo"></a>-->
            <!--                    </div>-->
                               
            <!--                    <div class="brand-logo">-->
            <!--                        <a href="#"><img src="{% static 'images2/brand/brand8.jpg' %}" alt="Brand logo"></a>-->
            <!--                    </div>-->
                               
            <!--                    <div class="brand-logo">-->
            <!--                        <a href="#"><img src="{% static 'images2/brand/brand9.jpg' %}" alt="Brand logo"></a>-->
            <!--                    </div>-->
                               
            <!--                    <div class="brand-logo">-->
            <!--                        <a href="#"><img src="{% static 'images2/brand/brand1.jpg' %}" alt="Brand logo"></a>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
            <!-- Brand logo area end -->


</div>
<!-- Body main wrapper end -->       
          <script>
              // Author: Hoang Tran (https://www.facebook.com/profile.php?id=100004848287494)
// Github verson (1 file .html): https://github.com/HoangTran0410/3DCarousel/blob/master/index.html


// You can change global variables here:
var radius = 440; // how big of the radius
var autoRotate = true; // auto rotate or not
var rotateSpeed = -60; // unit: seconds/360 degrees
var imgWidth = 120; // width of images (unit: px)
var imgHeight = 170; // height of images (unit: px)
if($(window).width()<=700)
{
    radius = 200;
    $('.companies8').remove();
    $('.companies9').remove();
    $('.companies10').remove();
    $('.companies11').remove();
    $('.companies12').remove();
    $('.companies13').remove();
    $('.companies14').remove();
    $('.companies15').remove();
}

if($(window).width()<=500)
{
    radius = 120;
    $('.companies7').remove();
    $('.companies6').remove();

}

/*
     NOTE:
       + imgWidth, imgHeight will work for video
       + if imgWidth, imgHeight too small, play/pause button in <video> will be hidden
       + Music link are taken from: https://hoangtran0410.github.io/Visualyze-design-your-own-/?theme=HauMaster&playlist=1&song=1&background=28
       + Custom from code in tiktok video  https://www.facebook.com/J2TEAM.ManhTuan/videos/1353367338135935/
*/


// ===================== start =======================
// animation start after 1000 miliseconds
setTimeout(init, 1000);

var odrag = document.getElementById('drag-container');
var ospin = document.getElementById('spin-container');
var aImg = ospin.getElementsByTagName('img');
var aVid = ospin.getElementsByTagName('video');
var aEle = [...aImg, ...aVid]; // combine 2 arrays


// Size of images
ospin.style.width = imgWidth + "px";
ospin.style.height = imgHeight + "px";

// Size of ground - depend on radius
var ground = document.getElementById('ground');
ground.style.width = radius * 3 + "px";
ground.style.height = radius * 3 + "px";

function init(delayTime) {
  for (var i = 0; i < aEle.length; i++) {
    aEle[i].style.transform = "rotateY(" + (i * (360 / aEle.length)) + "deg) translateZ(" + radius + "px)";
    aEle[i].style.transition = "transform 1s";
    aEle[i].style.transitionDelay = delayTime || (aEle.length - i) / 4 + "s";
  }
}

function applyTranform(obj) {
  // Constrain the angle of camera (between 0 and 180)
  if(tY > 180) tY = 180;
  if(tY < 0) tY = 0;

  // Apply the angle
  obj.style.transform = "rotateX(" + (-tY) + "deg) rotateY(" + (tX) + "deg)";
}

function playSpin(yes) {
  ospin.style.animationPlayState = (yes?'running':'paused');
}

var sX, sY, nX, nY, desX = 0,
    desY = 0,
    tX = 0,
    tY = 10;

// auto spin
if (autoRotate) {
  var animationName = (rotateSpeed > 0 ? 'spin' : 'spinRevert');
  ospin.style.animation = `${animationName} ${Math.abs(rotateSpeed)}s infinite linear`;
}

// add background music
if (bgMusicURL) {
  document.getElementById('music-container').innerHTML += `
<audio src="${bgMusicURL}" ${bgMusicControls? 'controls': ''} autoplay loop>    
<p>If you are reading this, it is because your browser does not support the audio element.</p>
</audio>
`;
}

// setup events
document.onpointerdown = function (e) {
  clearInterval(odrag.timer);
  e = e || window.event;
  var sX = e.clientX,
      sY = e.clientY;

  this.onpointermove = function (e) {
    e = e || window.event;
    var nX = e.clientX,
        nY = e.clientY;
    desX = nX - sX;
    desY = nY - sY;
    tX += desX * 0.1;
    tY += desY * 0.1;
    applyTranform(odrag);
    sX = nX;
    sY = nY;
  };

  this.onpointerup = function (e) {
    odrag.timer = setInterval(function () {
      desX *= 0.95;
      desY *= 0.95;
      tX += desX * 0.1;
      tY += desY * 0.1;
      applyTranform(odrag);
      playSpin(false);
      if (Math.abs(desX) < 0.5 && Math.abs(desY) < 0.5) {
        clearInterval(odrag.timer);
        playSpin(true);
      }
    }, 17);
    this.onpointermove = this.onpointerup = null;
  };

  return false;
};

document.onmousewheel = function(e) {
  e = e || window.event;
  var d = e.wheelDelta / 20 || -e.detail;
  radius += d;
  init(1);
};


          </script>
{% block js %}
<!-- <script src="{% static 'js2/carusel.js' %}"></script> -->

{% endblock js %}

                {% endblock content %}

        